* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nooks-Black";
  src: url("../fonts/TT Nooks Script Trial Black.otf");
}

@font-face {
  font-family: "Nooks-Bold";
  src: url("../fonts/TT Nooks Script Trial Bold.otf");
}

@font-face {
  font-family: "Nooks-Regular";
  src: url("../fonts/TT Nooks Script Trial Regular.otf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.ttf");
}

h1 {
  font-family: "Nooks-Bold", sans-serif;
}

h2 {
  font-family: "Nooks-Regular", sans-serif;
}

p {
  font-family: "Gilroy-Regular", sans-serif;
  line-height: 19.2px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #79cddf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #79cddf;
}

html {
  scroll-behavior: smooth;
}

.acc {
  margin: 45px 0;
  overflow: hidden;
  padding: 0;
}

.acc li {
  list-style-type: none;
  padding: 0;
}

.acc_ctrl {
  background: #ffffff;
  border: none;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 1em 40px;
  position: relative;
  text-align: left;
  width: 100%;
}

.acc_ctrl:before {
  background: #44596b;
  content: "";
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 14px;
}

.acc_ctrl:after {
  background: #44596b;
  content: "";
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 14px;
}

.acc_ctrl.active:before {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.acc_ctrl.active h2,
.acc_ctrl:focus h2 {
  position: relative;
}

.acc_panel {
  background: white;
  color: #797979;
  display: none;
  overflow: hidden;
  padding: 0 24px;
}

.budda {
  background-image: url("../images/bg-section-budda.png");
}

@media (max-width: 768px) {
  .budda {
    background-image: url("../images/bg-section-budda-alt.png");
  }
}

ul {
  list-style-type: "–";
}

.card {
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}
