* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Nooks-Bold;
  src: url(fonts/TT-Nooks-Script-Trial-Bold.otf);
}

@font-face {
  font-family: Nooks-Regular;
  src: url("/assets/fonts/TT Nooks Script Trial Regular.otf");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("/assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Gilroy-Bold;
  src: url("/assets/fonts/Gilroy-Bold.ttf");
}

h1 {
  font-family: Nooks-Bold, sans-serif;
}

h2 {
  font-family: Nooks-Regular, sans-serif;
}

p {
  font-family: Gilroy-Regular, sans-serif;
  font-weight: 400;
}

button {
  font-family: Gilroy-Bold, sans-serif;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #79cddf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #79cddf;
}

html {
  scroll-behavior: smooth;
}
